.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--primary-color);
  }
.breadcrumb a {
    text-decoration: none;
    color: black;
  }
.breadcrumb a:hover {
    text-decoration: underline;
  }

.sub-content{
    padding-top: 5rem;
    min-height: 80vh;
}

.downloads-grid{
    padding-top: 5rem;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 5rem;
}

.downloads-grid .row {
    padding: 1rem 2rem;
    background-color: #e5e5e5;
    border-bottom: 2px solid #2c2c2c;
    border-left: 2px solid #2c2c2c;
    border-right: 2px solid #2c2c2c;
    display: flex;
    align-items: center;
}

.downloads-grid .row:first-child {
    border-top: 2px solid #2c2c2c;
}

.downloads-grid .row span{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.downloads-grid .row a{
    display: flex;
    align-items: center;
}

.downloads-grid .row .icons-cont{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.downloads-grid .row a img{
    width: 20px;
    aspect-ratio: 1;
    margin-left: 10px;
}

.downloads-grid .row a img:hover{
    filter: brightness(0) saturate(100%) invert(17%) sepia(95%) saturate(2000%) hue-rotate(195deg) brightness(90%) contrast(100%);
}

.email{
    text-decoration: underline;
    color: #2a7af3;
}

.impressum-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    gap: 3rem;
}
.impressum-data{
    background-color: #e5e5e5;
    border-radius: 1rem;
    padding: 1rem 3rem;
    text-align: left !important;
}
.impressum-data h2, .geschaeftsfuehrung-data h2{
    font-size: 1.5rem;
}
.impressum-data h3, .geschaeftsfuehrung-data h3{
    font-size: 1rem;
}
.geschaeftsfuehrung-data h4{
    font-size: 1rem;
    text-align: left;
    color: var(--primary-color);
}
.geschaeftsfuehrung-data p{
    font-size: 0.75rem;
    line-height: normal;
    text-align: left !important;
}
.impressum-data p{
    font-size: 0.75rem;
    line-height: normal;
    text-align: left !important;
}
.impressum-data ul{
    margin-left: 2rem;
    font-size: 0.75rem;
}
.sub-content .subtitle{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-top: 0;
    line-height: normal;
    margin-bottom: 1rem;
}
.aboutus-content{
    display: grid;
    gap: 10rem;
    margin: 4rem 0;
    height: 100%;
}
.aboutus-content .right1, .aboutus-content .left1{
    display: flex;
}

.aboutus-content img, .aboutus-content iframe{
    width: 100%;
    aspect-ratio: 16/11;
    object-fit: cover;
    margin: 0;
    border-radius: 1rem;
}
.aboutus-content p{
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 1rem;
}
.aboutus-content h4{
    font-size: 1.5rem;
    line-height: 2rem;
}
.aboutus-content .two-split-grid{
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}
.aboutus-content .two-split-grid p,
.aboutus-content .two-split-grid h4 {
    text-align: left;
}
.aboutus-content .two-split-grid .left2{
    display: none;
}


@media only screen and (max-width: 992px) {
    .aboutus-content .two-split-grid{
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr;
        text-align: left;
    }
    .aboutus-content .two-split-grid .left1{
        display: none;
    }
    .aboutus-content .two-split-grid .left2{
        display: initial;
    }
    .aboutus-content p,
    .aboutus-content h4{
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    .impressum-grid{
        grid-template-columns: 1fr;
    }
    .geschaeftsfuehrung-data{
        margin-left: 1rem;
    }
}




