* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-margin-top: 72px;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #01509f;
  --light-blue: #2a7af3;
  --light-color: white;
}

html {
  font-size: 18px;
}

body {
  font-size: 1rem; /* 18px */
  line-height: 1.25; /* 22.5px */
}

/* ------------------  Scrollbar ---------------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #2a7af3;
}

/* ------------------  Header ---------------- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 7px 30px;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.scrolled {
  background-color: white;
}
header.scrolled .header-links a,
header.scrolled .header-links .language,
header.scrolled .header-links .search-box {
  color: black;
}
header.scrolled .header-links a img,
header.scrolled .header-links .language img,
header.scrolled .header-links .search-box img {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

.hamburger {
  cursor: pointer;
  z-index: 1001;
  position: fixed;
  top: 20px;
  left: 30px;
}

#hamburger.scrolled {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}
#hamburger.scrolled svg path {
  stroke-width: 2.5;
}
#hamburger.checked {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7500%) hue-rotate(206deg) brightness(101%) contrast(106%) !important;
          filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7500%) hue-rotate(206deg) brightness(101%) contrast(106%) !important;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: clamp(23px, 4vh, 4vh);
  height: 34px;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content .header-links a,
.header-content .header-links .language,
.header-content .header-links .search-box {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}
.header-content .header-links.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 60px;
}
.header-content .header-links.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-content .header-links #hamburger {
  margin-right: 10px;
  cursor: pointer;
}
.header-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 183px;
  position: relative;
  top: 0.3rem;
}
.header-content .logo img {
  width: 100%;
}

header a,
.language-box .language,
.search-box {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.language-box {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.language-dropdown {
  position: absolute;
  top: 150%;
  background-color: white;
  width: 130px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -10;
  opacity: 0;
  display: none;
}
.language-dropdown a {
  padding: 5px 10px;
  color: black !important;
  font-weight: 400;
}
.language-dropdown.active {
  z-index: 10;
  opacity: 1;
  display: initial;
  animation: show;
}

@keyframes show {

}

/* ------------------  Search ---------------- */
.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7px 30px;
  background-color: rgba(0, 0, 0, 0.815);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding-top: 150px;
  z-index: 50;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
  z-index: -50;
}
.search-container.active {
  opacity: 1;
  z-index: 50;
  pointer-events: all;
}
.search-container .search {
  max-width: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 10px;
}
.search-container .search input {
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 22px;
}
.search-container .search img {
  width: 30px;
  aspect-ratio: 1/1;
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
  cursor: pointer;
  padding: 5px;
}

/* ------------------  Menu ---------------- */
#menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.815);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 83px;
  opacity: 0.1;
  overflow-y: auto;
}
#menu.open {
  left: 0;
  opacity: 1;
}
#menu a {
  color: #a3a3a3;
  font-size: 17px;
  text-decoration: none;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}
#menu a:hover {
  color: white;
}
#menu #close {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 40px;
  cursor: pointer;
}
#menu .menu-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}
#menu .menu-content .menu-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  color: white;
}
#menu .menu-content .menu-content-box .menu-content-box-title {
  font-size: 22px;
  margin-bottom: 10px;
  width: 100%;
}
#menu .menu-content .menu-content-box.quick-actions {
  top: 20px;
  position: absolute;
  right: 14px;
  display: none;
  height: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#menu .menu-content .menu-content-box.quick-actions .language,
#menu .menu-content .menu-content-box.quick-actions .search-box {
  gap: 10px;
}

/* ------------------  Container ---------------- */
.container-full {
  padding: 50px 0;
}
.container-full.bg-blue {
  background-color: #ebf0f0;
}
.container-full.bg-fog {
  background-color: #f6f9fc;
}
.container-full.bg-grey {
  background-color: #ebf0f0;
}
.container-full.bg-tabs {
  background-color: #e5e5e5;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  color: white;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 20px;
  line-height: 25px;
} */
/* ------------------  Typography ---------------- */
h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: 800;
  line-height: 2.8125rem; /* 45px */
  color: white;
}

h2 {
  font-size: 2.5rem; /* 40px */
  line-height: 3.125rem; /* 50px */
}

h3 {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
}

h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.5625rem; /* 25px */
}

p {
  font-size: 16px; /* 16px */
  line-height: 20px; /* 20px */
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

/* ------------------  Button ---------------- */
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 1.111rem; /* 20px */
  line-height: 1.389rem; /* 25px */
}

/* ------------------  Footer ---------------- */
footer {
  color: #1c1c1c;
  background-color: #e2e2e2;
}

.footer-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

.footer-cols {
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 20px;
}
.footer-cols .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer-cols .footer-col .footer-col-title {
  font-size: 17.5px; /* 17.5px */
  line-height: 21.88px; /* 21.88px */
  font-weight: 600;
}
.footer-cols .footer-col a,
.footer-cols .footer-col p {
  font-size: 15px; /* 15px */
  line-height: 18.75px; /* 18.75px */
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.footer-cols .footer-col a span,
.footer-cols .footer-col p span {
  color: #9d9d9f;
}
.footer-cols .footer-col a span.leaders,
.footer-cols .footer-col p span.leaders {
  display: block;
  padding: 5px 0 0 15px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.footer-cols .footer-col .email {
  color: #01509f;
  text-decoration: underline;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 20px;
  gap: 20px;
}
.footer-bottom .footer-copyright {
  font-size: 11px; /* 11px */
  line-height: 13.75px; /* 13.75px */
  font-weight: 400;
  text-align: left;
}
.footer-bottom .footer-logo {
  margin: 0 auto;
  max-width: 270px;
  width: 100%;
}
.footer-bottom .footer-logo img {
  width: 100%;
}
.footer-bottom .footer-languages {
  font-size: 11px; /* 11px */
  line-height: 13.75px; /* 13.75px */
  font-weight: 400;
  text-align: right;
}
.footer-bottom .footer-languages a {
  color: inherit;
  text-decoration: none;
}
.footer-bottom .footer-languages a.active-language {
  font-weight: 700;
}

/* ------------------  Media Queries ---------------- */
@media only screen and (max-width: 1440px) {
  html {
    font-size: 17px;
  }
  .container,
  .footer-content {
    width: 1200px;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
  .container,
  .footer-content {
    width: 992px;
  }
}
@media only screen and (max-width: 992px) {
  #menu {
    padding-top: 50px;
  }
  #menu #close {
    top: 8px;
    left: 7px;
  }
  .container,
  .footer-content {
    width: 768px;
  }
  header {
    padding: 7px 14px;
  }
  header .header-content {
    display: grid;
    grid-template-columns: 20px 40% 20px;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 58px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-content .logo {
    max-width: 150px;
  }
  .hamburger {
    left: 14px;
    top: 20px;
  }
  .hide-mobile {
    display: none !important;
  }
  .quick-actions {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media only screen and (max-width: 768px) {
  .container,
  .footer-content {
    max-width: 600px;
    width: 100%;
  }
  .container-full {
    padding: 25px 0;
  }
  .title {
    margin-bottom: 25px;
  }
  .footer-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  footer .footer-bottom {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
}
/* ------------------  Grid 3 ---------------- */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding-top: 40px;
  margin-bottom: 60px;
}
.grid-3 .grid-3-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.grid-3 .grid-3-item h3 {
  font-size: 1.666rem; /* 30px */
  line-height: 2.083rem; /* 37.5px */
  margin-bottom: 30px;
}
.grid-3 .grid-3-item p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22.5px;
  margin-bottom: 30px;
}
.grid-3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  gap: 5px;
  font-size: 18px;
  line-height: 22.5px;
}
.grid-3 a img {
  width: 24px;
  height: 24px;
}
.grid-3 a.centered {
  grid-column: span 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ------------------  Media Queries ---------------- */
@media only screen and (max-width: 992px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-3 a.centered {
    grid-column: span 2;
  }
}
@media only screen and (max-width: 768px) {
  .grid-3 {
    grid-template-columns: 1fr;
    gap: 25px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  .grid-3 .grid-3-item h3,
  .grid-3 .grid-3-item p {
    margin-bottom: 15px;
  }
  .grid-3 a.centered {
    grid-column: span 1;
  }
}
/* ------------------  Hero ---------------- */
.hero {
  position: relative;
  padding-top: 100px;
  height: 100svh;
}
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.hero .hero-content .hero-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.hero .hero-content h1 {
  padding: 0 20px;
}
.hero .hero-content p {
  font-size: 1.333rem; /* 24px */
  line-height: 1.666rem; /* 30px */
  font-weight: 700;
  color: white;
  padding-left: 5%;
  padding-top: 20px;
  padding-bottom: 100px;
}
.hero .hero-content p span {
  display: block;
  padding-top: 10px;
  padding-left: 35px;
  font-size: 0.888rem; /* 16px */
  line-height: 1.111rem; /* 20px */
  font-weight: 700;
}

/* ------------------  About ---------------- */
.about {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.about .about-text h3 {
  font-size: 1.666rem; /* 30px */
  line-height: 2.083rem; /* 37.5px */
}
.about .swiper-slide {
  aspect-ratio: 700/430;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.about .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.about .swiper-slide .swiper-text {
  font-size: 1.666rem; /* 30px */
  line-height: 2.083rem; /* 37.5px */
  font-weight: 800;
  text-align: center;
}

/* ------------------  Swiper ---------------- */
.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.swiper-container {
  width: 100%;
  display: grid;
}
.swiper-container .swiper-pagination {
  position: relative;
  margin-top: 15px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.swiper-slide .swiper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.swiper-scrollbar {
  top: 300%;
  position: static !important;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

/* ------------------ Unser Team / Team ---------------- */
.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .team-img-box {
  position: relative;
}
.team .team-img-box .team-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.team .team-img-box .team-img-points {
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 63px;
}
.team .team-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.team .team-text h3 {
  font-size: 2rem; /* 36px */
  line-height: 2.5rem; /* 45px */
  margin-top: 10px;
}
.team .team-text .btn {
  margin-top: auto;
}

/* ------------------ Neuigkeiten ---------------- */
.neuigkeiten .neuigkeit {
  height: 100%;
  position: relative;
}
.neuigkeiten .swiper-slide {
  aspect-ratio: 438/234;
  border-radius: 10px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.neuigkeiten .neuigkeit-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.neuigkeiten .neuigkeit-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  gap: 5px;
  text-align: end;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 44, 44, 0.25)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(44, 44, 44, 0.25) 0%, rgba(0, 0, 0, 0.8) 100%);
  padding: 20px;
}
.neuigkeiten .neuigkeit-text h4 {
  color: white;
}
.neuigkeiten .neuigkeit-text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--light-blue);
  font-weight: 700;
  text-decoration: none;
  gap: 5px;
}
.neuigkeiten .neuigkeit-text a img {
  width: 24px;
  height: 24px;
}

/* ------------------ Partners ---------------- */
.partners .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.partners .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners .swiper-slide img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* ------------------  Media Queries ---------------- */
@media only screen and (max-width: 992px) {
  .about {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .team {
    grid-template-columns: 1fr;
    gap: 25px;
    padding-bottom: 0;
  }
  .team .team-img-box {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .team .team-img-box .team-img-points {
    position: absolute;
    bottom: -12px;
    left: -14px;
    width: 35px;
  }
  .team .team-text br {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .swiper-scrollbar {
    margin-top: 20px;
  }
}/*# sourceMappingURL=home.css.map */