* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-margin-top: 72px;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #01509f;
  --light-blue: #2a7af3;
  --light-color: white;
}

html {
  font-size: 18px;
}

body {
  font-size: 1rem; /* 18px */
  line-height: 1.25; /* 22.5px */
}

/* ------------------  Scrollbar ---------------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #2a7af3;
}

/* ------------------  Header ---------------- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 7px 30px;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.scrolled {
  background-color: white;
}
header.scrolled .header-links a,
header.scrolled .header-links .language,
header.scrolled .header-links .search-box {
  color: black;
}
header.scrolled .header-links a img,
header.scrolled .header-links .language img,
header.scrolled .header-links .search-box img {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

.hamburger {
  cursor: pointer;
  position: relative;
  top: 0.25rem;
  z-index: 1001;
  position: fixed;
  top: 20px;
  left: 20px;
}

#hamburger.scrolled {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}
#hamburger.checked {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7500%) hue-rotate(206deg) brightness(101%) contrast(106%) !important;
          filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(7500%) hue-rotate(206deg) brightness(101%) contrast(106%) !important;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: clamp(23px, 4vh, 4vh);
  height: 34px;
  -webkit-transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.header-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content .header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content .header-links a,
.header-content .header-links .language,
.header-content .header-links .search-box {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}
.header-content .header-links.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 60px;
}
.header-content .header-links.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-content .header-links #hamburger {
  margin-right: 10px;
  cursor: pointer;
}
.header-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 183px;
  position: relative;
  top: 4px;
}
.header-content .logo img {
  width: 100%;
}

header a,
.language-box .language,
.search-box {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}

.language-box {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.language-dropdown {
  position: absolute;
  top: 150%;
  background-color: white;
  width: 130px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -10;
  opacity: 0;
}
.language-dropdown a {
  padding: 5px 10px;
  color: black !important;
  font-weight: 400;
}
.language-dropdown.active {
  z-index: 10;
  opacity: 1;
}

/* ------------------  Search ---------------- */
.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7px 30px;
  background-color: rgba(0, 0, 0, 0.815);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding-top: 150px;
  z-index: 1002;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}
.search-container.active {
  opacity: 1;
  z-index: 1002;
  pointer-events: all;
}
.search-container .search {
  max-width: 600px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  padding: 0 10px;
}
.search-container .search input {
  padding: 10px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 22px;
}
.search-container .search img {
  width: 30px;
  aspect-ratio: 1/1;
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
  cursor: pointer;
  padding: 5px;
}

/* ------------------  Menu ---------------- */
#menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.815);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 1000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 83px;
  opacity: 0.1;
  overflow-y: auto;
}
#menu.open {
  left: 0;
  opacity: 1;
}
#menu a {
  color: #a3a3a3;
  font-size: 17px;
  text-decoration: none;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}
#menu a:hover {
  color: white;
}
#menu #close {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 40px;
  cursor: pointer;
}
#menu .menu-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}
#menu .menu-content .menu-content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  color: white;
}
#menu .menu-content .menu-content-box .menu-content-box-title {
  font-size: 22px;
  margin-bottom: 10px;
  width: 100%;
}
#menu .menu-content .menu-content-box.quick-actions {
  top: 20px;
  position: absolute;
  right: 14px;
  display: none;
  height: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#menu .menu-content .menu-content-box.quick-actions .language,
#menu .menu-content .menu-content-box.quick-actions .search-box {
  gap: 10px;
}

/* ------------------  Container ---------------- */
.container-full {
  padding: 50px 0;
}
.container-full.bg-blue {
  background-color: #ebf0f0;
}
.container-full.bg-fog {
  background-color: #f6f9fc;
}
.container-full.bg-grey {
  background-color: #ebf0f0;
}
.container-full.bg-tabs {
  background-color: #e5e5e5;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-partner {
  width: 1800px;
}

/* h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 45px;
  color: white;
}

h2 {
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 20px;
  line-height: 25px;
} */
/* ------------------  Typography ---------------- */
h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: 800;
  line-height: 2.8125rem; /* 45px */
  color: white;
}

h2 {
  font-size: 2.5rem; /* 40px */
  line-height: 3.125rem; /* 50px */
}

h3 {
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
}

h4 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.5625rem; /* 25px */
}

p {
  font-size: 16px; /* 16px */
  line-height: 20px; /* 20px */
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

/* ------------------  Button ---------------- */
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--light-color);
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 1.111rem; /* 20px */
  line-height: 1.389rem; /* 25px */
}

/* ------------------  Footer ---------------- */
footer {
  color: #1c1c1c;
  background-color: #e2e2e2;
}

.footer-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

.footer-cols {
  gap: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  padding: 50px 20px;
}
.footer-cols .footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.footer-cols .footer-col .footer-col-title {
  font-size: 17.5px; /* 17.5px */
  line-height: 21.88px; /* 21.88px */
  font-weight: 600;
}
.footer-cols .footer-col a,
.footer-cols .footer-col p {
  font-size: 15px; /* 15px */
  line-height: 18.75px; /* 18.75px */
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.footer-cols .footer-col a span,
.footer-cols .footer-col p span {
  color: #9d9d9f;
}
.footer-cols .footer-col a span.leaders,
.footer-cols .footer-col p span.leaders {
  display: block;
  padding: 5px 0 0 15px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.footer-cols .footer-col .email {
  color: #01509f;
  text-decoration: underline;
}

.footer-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 20px;
}
.footer-bottom .footer-copyright {
  font-size: 11px; /* 11px */
  line-height: 13.75px; /* 13.75px */
  font-weight: 400;
  text-align: left;
}
.footer-bottom .footer-logo {
  margin: 0 auto;
  max-width: 270px;
  width: 100%;
}
.footer-bottom .footer-logo img {
  width: 100%;
}
.footer-bottom .footer-languages {
  font-size: 11px; /* 11px */
  line-height: 13.75px; /* 13.75px */
  font-weight: 400;
  text-align: right;
}
.footer-bottom .footer-languages a {
  color: inherit;
  text-decoration: none;
}
.footer-bottom .footer-languages a.active-language {
  font-weight: 700;
}

/* ------------------  Media Queries ---------------- */
@media only screen and (max-width: 1860px) {
  .container-partner {
    width: 1420px!important;
  }
}
@media only screen and (max-width: 1440px) {
  html {
    font-size: 17px;
  }
  .container,
  .footer-content {
    width: 1200px!important;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
  .container,
  .footer-content {
    width: 992px!important;
  }
  header {
    padding: 0px 20px;
  }
  a.logo  {
    top: 3px!important;
  }
  a.logo svg {
    max-width: 130px;
    top: .2rem!important;
  }
  .hamburger {
    top: 12px;
  }
  .hamburger svg {
    width: 28px;
  }
  a.hide-mobile {
    font-size: 1rem!important;
  }
}
@media only screen and (max-width: 992px) {
  #menu {
    padding-top: 50px;
  }
  #menu #close {
    top: 8px;
    left: 7px;
  }
  .container,
  .footer-content {
    width: 768px!important;
  }
  header .header-content {
    display: grid;
    grid-template-columns: 20px 40% 20px;
    gap: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-content .logo {
    max-width: 130px;
  }
  .hide-mobile {
    display: none !important;
  }
  .quick-actions {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media only screen and (max-width: 768px) {
  .container,
  .footer-content {
    max-width: 600px!important;
    width: 100%!important;
  }
  .container-full {
    padding: 25px 0;
  }
  .title {
    margin-bottom: 25px;
  }
  .footer-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-full .text p {
    font-size: 1rem!important;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  footer .footer-bottom {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
  }
}
/* ------------------  Grid 3 ---------------- */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  padding-top: 40px;
  margin-bottom: 60px;
  position: relative;
}
.grid-3 .grid-3-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.grid-3 .grid-3-item-partner {
 padding: 1rem 1rem 1rem 1rem;
 border-radius: .5rem;
 background-color: rgba(1, 80, 159, 0.1);
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 max-height: fit-content;
 object-fit: fill;
}

.grid-3 .grid-3-item.card h3 {
  line-height: none!important;
  font-size: 1.4rem!important;
}


.grid-3 .grid-3-item-partner:hover {
}

.grid-3.alt {
  grid-template-columns: initial;
  gap: 20px;
}

.grid-3 .grid-3-item.card{
  width: 100%;
  background-color: #e2e2e2;
  padding: 1rem;
  border-radius: .5rem;
}
.grid-3 .grid-3-item-partner p{
  display: initial;
}
.grid-3 .grid-3-item-partner img {
  object-fit: fill;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-top-right {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.card-top-right .plus-cl {
  height: 35px;
  width: 35px;
  border: 3px solid #01509f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s cubic-bezier( 0.15, 0.56, 0.22, 0.97 );
}
.card-top-right .plus-cl:hover {
  cursor: pointer;
}

.card-top-right .plus-cl.active {
  transform: rotate(45deg);
}
.card-top-right .plus-cl .plus {
  width: 15px;
  height: 3px;
  border-radius: 2px;
  background-color: #01509f;
  position: relative;
}
.card-top-right .plus-cl .plus:before {
  content: "";
  position: absolute;
  top: 0;
  width: 15px;
  height: 3px;
  border-radius: 2px;
  background-color: #01509f;
  z-index: 100;
  transform: rotate(90deg);
}

.grid-3 .grid-3-item h3 {
  font-size: 1.666rem; /* 30px */
  line-height: 2.083rem; /* 37.5px */
  margin-bottom: 30px;
}
.grid-3.alt .grid-3-item h3 {
  margin-bottom: 0;
}
.grid-3 .grid-3-item p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22.5px;
  margin-bottom: 0.5rem;
}

.grid-3 .grid-3-item.card p {
  opacity: 0;
  transition: height 1s cubic-bezier( 0.15, 0.56, 0.22, 0.97 ), opacity 0s;
  transition: 0.2s cubic-bezier( 0.15, 0.56, 0.22, 0.97 );
  height: 0;
  margin-bottom: 0;
  transform: translateY(-5px);
}

.grid-3 .grid-3-item.card.active p {
  opacity: 1;
  transition: 1s cubic-bezier( 0.15, 0.56, 0.22, 0.97 );
  transform: translateY(0px);
  height: initial;
  margin: 1rem 0 1rem 0;
}
.grid-3 .grid-3-item.card a {
  opacity: 0;
  transition: 1s cubic-bezier( 0.15, 0.56, 0.22, 0.97 ), opacity 0s;
  height: 0;
  margin-bottom: 0;
  transform: translateY(-5px);
  pointer-events: none;
}

.grid-3 .grid-3-item.card.active a {
  opacity: 1;
  transition: 1s cubic-bezier( 0.15, 0.56, 0.22, 0.97 );
  transform: translateY(0px);
  height: initial;
  margin: 0rem 0 1rem 0;
  pointer-events: initial;
}

.grid-3 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: none;
  gap: 5px;
  font-size: 18px;
  line-height: 22.5px;
  transition: 1s cubic-bezier( 0.15, 0.56, 0.22, 0.97 );
}
.grid-3 a img {
  width: 24px;
  height: 24px;
  transition: 1s cubic-bezier( 0.15, 0.56, 0.22, 0.97 );
}
.grid-3 a .link {
  transition: 1s cubic-bezier( 0.15, 0.56, 0.22, 0.97 );
}
.grid-3 a.centered {
  grid-column: span 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transform: translateX(-15px);
}
.grid-3 a.sublink {
  grid-column: span 3;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: auto;
  margin-bottom: 2rem;
  padding-top: 1rem;
}
.grid-3.alt a.sublink {
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}
.grid-3 a.centered:hover img {
  transform: translateX(5px);
}
.grid-3 a.centered:hover .link {
  transform: translateX(10px);
}
.grid-3 a.sublink:hover img {
  transform: translateX(5px);
}
.grid-3 a.sublink:hover .link {
  transform: translateX(10px);
}
.grid-3 .grid-3-item ul{
  margin-bottom: 1rem;
  margin-left: 2rem;
}

/* ------------------  Media Queries ---------------- */
@media only screen and (max-width: 992px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .anlagen-grid {
    display: block;
  }
  .grid-3 a.centered {
    grid-column: span 2;
  }
}
@media only screen and (max-width: 768px) {
  .grid-3 {
    grid-template-columns: 1fr !important;
    gap: 25px;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  .grid-3 .grid-3-item p {
    font-size: 1rem!important;
  }
  .grid-3 .grid-3-item h3,
  .grid-3 .grid-3-item p {
    margin-bottom: 15px;
  }
  .grid-3 a.centered {
    grid-column: span 1;
  }
}
/* ------------------ Subpage  Header ---------------- */
header {
  position: static;
  background-color: white;
}
header .header-links a,
header .header-links .language,
header .header-links .search-box {
  color: black !important;
}
header .header-links a img,
header .header-links .language img,
header .header-links .search-box img {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

/* ------------------ Subpage  Hamburger ---------------- */
.hamburger {
  position: absolute;
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

/* ------------------ Subpage  Top & Breadcrumb ---------------- */
.subpage-top {
  background-color: #e5e5e5;
}
.subpage-top .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  padding-bottom: 20px;
  border-bottom: 3px solid var(--primary-color);
}
.subpage-top .breadcrumb a {
  text-decoration: none;
  color: black;
}
.subpage-top .breadcrumb a:hover {
  text-decoration: underline;
}
  .subpage-top .subpage-top-img {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  aspect-ratio: 1055/515;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* ------------------  Mini Nav ---------------- */
.mini-nav {
  max-width: 1400px;
  border-radius: 50px;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: -30px;
}
.mini-nav a {
  text-decoration: none;
  color: white;
  line-height: 20px;
  font-size: 16px; /* 16px */
}
.mini-nav.isSticky {
  max-width: 100%;
  width: 100%;
  border-radius: 0;
}
.mini-nav .mini-nav-scroll {
  margin-left: auto;
  width: 35px;
  cursor: pointer;
}
.mini-nav .mini-nav-menu {
  display: none;
  width: 35px;
  cursor: pointer;
}

/* ------------------ Subpage  Text Section ---------------- */
.text-section {
  text-align: center;
}
.text-section .title h2 {
  font-size: 2rem; /* 32px */
  font-weight: 700;
  line-height: 2.5rem; /* 40px */
  letter-spacing: 0.08em;
  margin-bottom: 25px;
}
.text-section p {
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  line-height: 1.5625rem; /* 25px */
  letter-spacing: 0.08em;
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.container-full .text p{
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  line-height: 1.5625rem; /* 25px */
  letter-spacing: 0.08em;
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

/* ------------------ Subpage  Slider ---------------- */
.swiper {
  user-select: none;
}
.swiper .swiper-slide img {
  aspect-ratio: 16/8;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 85vh;
}

.swiper-button-next,
.swiper-button-prev {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.swiper-button-prev {
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.04)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0.2) 100%);
  width: 8vw;
  min-width: 80px;
}

.swiper-button-next {
  right: 0 !important;
  background: linear-gradient(273.36deg, rgba(0, 0, 0, 0.2) 2.42%, rgba(0, 0, 0, 0.04) 96.89%);
  width: 8vw;
  min-width: 80px;
}

.swiper-pagination-fraction {
  top: 0;
  width: auto;
  left: auto;
  right: 20px;
  background-color: var(--primary-color);
  color: white !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0px 0px 25px 25px;
  opacity: 0px;
  padding: 20px;
}
.swiper-pagination-fraction span {
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  line-height: 1.875rem; /* 30px */
  letter-spacing: 0.08em;
}

/* ------------------ Subanlagen Grid ---------------- */
.sub-anlagen-grid-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 3rem;
  gap: 2rem;
  text-align: left !important;
}
.sub-anlagen-grid-2 img{
  width: 100%;
  height: 100%;
  margin: auto 0;
  border-radius: 1rem;
  object-fit: cover;
}
.sub-anlagen-grid-2 p{
  margin: 1rem 0 -1rem 0;
  font-size: 1.1rem;
  line-height: 0.75rem;
}
.sub-anlagen-grid-2 .details ul{
  margin: 2rem 1rem 1.25rem 1rem;
  font-size: 1.1rem;
}
.sub-anlagen-grid-2 .details h2{
  font-size: 2rem;
}
.sub-anlagen-grid-2 .details ul ul{
  margin: 1rem 1rem 1.25rem 1rem;
  font-size: 1.1rem;
}
.sub-anlagen-grid-2 .details li{
  margin: 0.75rem 0;
}
.sub-anlagen-grid-2 .details .double-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.grid-2er-special{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ------------------ Cookies ---------------- */

/* Cookie Banner */
.cookie-banner {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #01509f;
  border-radius: 1rem;
  color: #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
  max-width: 350px;
  width: 50px; /* Initially small */
  max-height: 50px; /* Initially small */
  overflow: hidden;
  transition: width 0.3s ease-in-out, max-height 0.3s ease-in-out, border-radius 0.2s ease-in-out;
}

/* Expanded state */
.cookie-banner .cookie-bubble{
  background: none;
  box-shadow: none;
}
.cookie-banner.border {
  border-radius: 50%;
}
.cookie-banner.border .cookie-bubble{
  background: initial;
  box-shadow: initial;
}
.cookie-banner.expanded {
  border-radius: 1rem;
  width: 350px;
}
.cookie-banner.delayed {
  border-radius: 1rem;
  height: auto;
  max-height: 1000px;
}
.cookie-banner p {
  text-align: left;
  font-size: 0.75rem;
  margin: 0 0.5rem 1rem 0.5rem;
}
.cookie-banner button {
  margin-bottom: 1rem 1rem 0 1rem;
  height: 100%;
}
#cookie-settings{
  margin: 0 1rem 1rem 1rem;
  text-align: left;
  display: block;
}
.buttons-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  row-gap: 0.5rem;
}
.buttons-grid button:last-child{
  grid-column: 1/-1
}

.tooltip-title {
  position: relative;
  text-decoration: underline dotted #4CAF50;
  cursor: pointer;
}
.tooltip .tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  font-size: 0.5rem;
  margin-left: 0.5rem;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/* Cookie Bubble inside the banner */
.cookie-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #01509f;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  margin: auto; /* Center it */
}

.cookie-bubble:hover {
  transform: translateY(-2px);
}

.cookie-bubble svg {
  width: 24px;
  height: 24px;
  fill: #e5e5e5;
}

/* Hide the cookie content when collapsed */
.cookie-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

/* Show content when expanded */
.cookie-banner.expanded .cookie-content {
  opacity: 1;
  visibility: visible;
}

/* Buttons */
.cookie-btn {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.accept, .reject, .customize, .save {
  background: none;
  border: 2px solid #4CAF50;
  color: white;
  transition: 0.2s ease-in-out;
}

.accept:hover, .reject:hover, .customize:hover, .save:hover {
  background: #4CAF50;
  color: white;
}

.cookie-rejected {
  background-color: #d9dddd;
  width: 100%;
  height: 100% ;
  border-radius: 1rem ;
  display: grid;
  place-items: center !important; /* Centers both horizontally & vertically */
  text-align: center !important;
  padding: 1rem !important;
}

.cookie-rejected p {
  color: #1c1c1c;
  text-align: center !important;
  margin: 0 !important; /* Prevents any unwanted margins */
}




/* ------------------ Tabs ---------------- */
.swiper-tab .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto !important;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.swiper-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  text-align: center;
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  line-height: 1.875rem; /* 30px */
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 10px 10px 0px 0px;
  border-right: 0px;
}
.swiper-tab button.active {
  background-color: #e5e5e5;
}

.tabcontent {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
.tabcontent img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px;
  width: 50%;
  max-width: 550px;
}
.tabcontent .tabcontent-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  max-width: 600px;
}
.tabcontent .tabcontent-text table {
  max-width: 500px;
}
.tabcontent .tabcontent-text table tr td:first-child {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  line-height: 1.5625rem; /* 25px */
}
.tabcontent .tabcontent-text table tr td:nth-child(2) {
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  line-height: 1.5625rem; /* 25px */
}
.tabcontent .tabcontent-text ul {
  margin-left: 20px;
}
.tabcontent .tabcontent-text p {
  font-family: Lexend Deca;
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 1.5625rem; /* 25px */
}
.tabcontent .tabcontent-text ul li {
  font-family: Lexend Deca;
  font-size: 1rem; /* 20px */
  font-weight: 200;
  line-height: 1.25rem; /* 25px */
  color: #2c2c2c;
}
.tabcontent .tabcontent-text ul li ul {
  list-style-type: "- ";
  margin-left: 40px;
}
.tabcontent.tabcontent-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ------------------ Project Page ---------------- */
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.project img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.project .project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.project .project-text h4 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 1.5625rem; /* 25px */
  letter-spacing: 0.08em;
}
.project .project-text h3 {
  font-size: 2rem; /* 32px */
  font-weight: 700;
  line-height: 2.5rem; /* 40px */
  letter-spacing: 0.08em;
}
.project .project-text p {
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  line-height: 1.5625rem; /* 25px */
  letter-spacing: 0.08em;
}
.project.project-reverse img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.project-page {
  display: none;
}
.project-page.project-page-active {
  display: block;
}

.project-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 60px 0;
}
.project-separator p {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.08em;
  color: var(--primary-color);
}
.project-separator hr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3px;
  border: none;
  background-color: var(--primary-color);
}

.project-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 60px 0;
}
.project-pagination hr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3px;
  border: none;
  background-color: var(--primary-color);
}
.project-pagination .project-pagination-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.project-pagination .project-pagination-pages a {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 25px;
}
.project-pagination .project-pagination-pages a.project-pagination-pages-current {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
}

/* ------------------  Media Queries ---------------- */
@media only screen and (max-width: 1440px) {
  .mini-nav {
    max-width: 1160px;
  }
}
@media only screen and (max-width: 1200px) {
  .tab {
    grid-template-columns: 1fr 1fr;
  }
  .tab button {
    border-radius: 0;
  }
  .tab button.active {
    border-radius: 0;
  }
  .mini-nav {
    max-width: 952px;
  }
  .sub-anlagen-grid-2{
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 992px) {
  * {
    scroll-margin-top: 40px;
  }
  .project {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .project img {
    aspect-ratio: 16/9;
  }
  .project.project-reverse img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .mini-nav {
    padding: 10px 15px;
    max-width: 728px;
  }
  .project-separator {
    margin: 40px auto;
  }
  .tabcontent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabcontent img {
    width: 100%;
    aspect-ratio: 16/9;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 100%;
  }
  .tabcontent .tabcontent-text {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .mini-nav {
    max-width: 560px;
    width: calc(100% - 40px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    overflow: hidden;
    gap: 15px;
    border-radius: 25px;
    max-height: 45px;
    padding-bottom: 15px;
    padding: 6px 15px;
  }
  .mini-nav.isSticky {
    max-height: 50px;
  }
  .mini-nav .mini-nav-scroll {
    display: none;
  }
  .mini-nav .mini-nav-menu {
    display: block;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .mini-nav.open {
    max-height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  .tabcontent {
    gap: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .project {
    gap: 25px;
  }
  .project .project-text p {
    font-size: 1rem;
  }
  .swiper-pagination-fraction {
    border-radius: 0px 0px 10px 10px;
    padding: 10px 10px;
  }
  .swiper-pagination-fraction span {
    font-size: 1rem;
  }
  .swiper-button-prev,
  .swiper-button-next {
    min-width: 50px;
    width: 5vw;
  }
}
@media only screen and (max-width: 480px) {
  .footer-bottom .footer-logo{
    width: initial !important;
  }
  .cookie-banner{
    max-width: 320px;
  }

}
@media only screen and (max-width: 390px) {
  .footer-bottom .footer-logo{
    width: initial !important;
  }
  .cookie-banner{
    max-width: calc(100% - 3rem);
  }

}
/*# sourceMappingURL=subpage.css.map */